{% extends "base.html" %}

{% block content %}
  <h1>
    Model: {{ car.model }}
  </h1>
  
  <br>
  
  <p><strong>Manufacturer: </strong>{{ car.manufacturer.name }} ({{ car.manufacturer.country }})</p>

  <br>
  
    <form action="" method="post">
      {% csrf_token %}
    
      <h3>Drivers
      {% if user in car.drivers.all %}
        <input type="submit" value="Delete me from this car" class="btn btn-danger link-to-page">
      {% else %}
        <input type="submit" value="Assign me to this car" class="btn btn-success link-to-page">
      {% endif %}
      </h3>
    </form>
  <hr>
  <ul class="list-group">
    {% for driver in car.drivers.all %}
      <li class="list-group-item">
        <p><strong>Username: </strong>{{ driver.username }}</p>
        <p><strong>Full Name: </strong>{{ driver.first_name }} {{ driver.last_name }}</p>
        <p><strong>License Number: </strong>{{ driver.license_number }}</p>
      </li>
      <br>
    {% endfor %}
  </ul>
  
  <a href="{% url 'taxi:car-update' pk=car.id %}" class="btn btn-secondary mb-5">
    Update
  </a>
  
  <a href="{% url 'taxi:car-delete' pk=car.id %}" class="btn btn-danger mb-5">
    Delete
  </a>
{% endblock %}
